body {
  background: black;
  transition-duration: 0.9s;
}
#text {
  color: black;
  font-size: 20px;
  text-align: center;
  transition-duration: 0.9s;
}
#quote-box {
  position: absolute;
  width: 40%;
  top: 50%;
  left: 50%;
  padding: 10px 50px 70px 50px;
  transform: translate(-50%, -50%);
  background: rgb(248, 245, 245);
  box-sizing: border-box;
  border-radius: 3px;
  transition-duration: 0.9s;
}
button {
  position: absolute;
  border-radius: 3px;
  outline: none;
  transition-duration: 0.9s;
  cursor: pointer;
  color: white;
}
#new-quote {
  right: 7%;
  width: 110px;
  padding: 7px;
  bottom: 20%;
}
#whatsapp {
  padding: 1px 14px 1px 14px;
  font-size: 25px;
  left: 11%;
  bottom: 18%;
}
#twitter {
  padding: 1px 14px 1px 14px;
  font-size: 25px;
  left: 22%;
  bottom: 18%;
}

@media screen and (max-width: 1226px) {
  #quote-box {
    width: 53%;
  }
}

@media screen and (max-width: 960px) {
  #quote-box {
    width: 65%;
  }
}

@media screen and (max-width: 768px) {
  #quote-box {
    width: 85%;
  }
}

@media screen and (max-width: 570px) {
  #quote-box {
    width: 100%;
  }
}
